#
# adjsut eol depending on whether scripts in this directory are for bash (Unix) or Windoze.   
#

# windows
*.bat 	text eol=crlf
*.init  text eol=crlf

# bash
"*/scripts/*"  	text eol=lf
*.sh	text eol=lf
*.sed	text eol=lf
